<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', path='/style1.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body><H1>Hi, this is fastapi with html and postgres!!! </H1>
   
    <table class="table1">
       
            <tr>
                 <th>id</th>
                <th>username</th>
                <th>email</th>
                
                <th>is_staff</th>
                <th>is_active</th>
                </tr>
            <tr>
                 
             
                
               <form method="post" action="/login_to_database">
                    <label for="cat_name">Enter a category name to disable:</label><br>
                    
                    <input type="text" id="id" name="id">
                    <input type="text" id="username" name="username">
                    <input type="text" id="email" name="email">
                    <input type="text" id="password" name="password">
                    <input type="text" id="is_staff" name="is_staff">
                    <input type="text" id="is_active" name="is_active">
                    <input class="submit" type="submit" value="Submit">
                 
                </form>
                
            {%for item in res.data%}
            
            <tr class='field3'>
             <td>{{item.id}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            
            <td>{{item.is_staff}}</td>
            <td>{{item.is_active}}</td>   
            <td class="no">
                 <form action="/database/{{item._id}}">
                    <input type="submit" value="{{item._id}}Delete" />
                </form></td>
            </tr>
            
            {%endfor%}

           
            </table>
            <p>result{{res}}</p>
        

            
</body>

</html>