<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="forma"> <h1>Введите данные по новому товару</h1>
               <form method="post" action="/products" class="form-container">
                    <label for="cat_name">Enter name:</label>
                    <input type="text" id="name" name="name"><br>
                    <label for="cat_name">Enter category:</label>
                    <input type="text" id="category" name="category"><br>
                    <label for="cat_name">Enter description:</label>
                    <input type="text" id="description" name="description"><br>
                    <label for="cat_name">Enter price:</label>
                    <input type="text" id="price" name="price"><br>
                    
                    <input class="submit" type="submit" value="Submit">
                 
                </form>
             </div>                                            
</body>
</html>