<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', path='/style1.css')}}" rel="stylesheet">
    <title>Document</title>
</head>
<body><H1>Пожалуйста зарегистрируйтесь</H1>
   <a href="http://127.0.0.1:8000/loginpass"><p>Войти</p></a>
    <table class="table1">
       
            
             <div class="forma">
                
               <form method="post" action="/login_to_database" class="form-container">
                    <label for="cat_name">Enter username:</label>
                    <input type="text" id="username" name="username"><br>
                    <label for="cat_name">Enter email:</label>
                    <input type="text" id="email" name="email"><br>
                    <label for="cat_name">Enter password:</label>
                    <input type="text" id="password" name="password"><br>
                    <label for="cat_name">Enter is_staff:</label>
                    <input type="text" id="is_staff" name="is_staff"><br>
                    <label for="cat_name">Enter is_active:</label>
                    <input type="text" id="is_active" name="is_active"><br>
                    <input class="submit" type="submit" value="Submit">
                 
                </form>
             </div>
                
           

           
            </table>
        <a href="http://127.0.0.1:8000/database1"><p class="new">База данных</p></a>
           <!-- <p>result{{res}}</p>-->
        

            
</body>

</html>