<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <form method="post" action="/email" class="form-container">
                <label for="send_mail">Enter name:</label>
                <input type="text" id="name" name="name"><br>
                <label for="send_mail">write letter:</label>
                <input type="text" id="letter" name="letter"><br>               
                <input class="submit" type="submit" value="Submit">
            </form>
        </table>
    </div>
</body>
</html>