<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <form method="post" action="/loginvhod" class="form-container">
                <label for="logvh">Enter username:</label>
                <input type="text" id="username" name="username"><br>
                <label for="logvh">Enter password:</label>
                <input type="text" id="password" name="password"><br>               
                <input class="submit" type="submit" value="Submit">
            </form>
        </table>
    </div>
</body>
</html>
